<div class="col-sm-3">
    <div class="input-group">
        <span id="searchIcon" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" id="searchBar" placeholder="Search" ng-model="search">
        <span id="searchCancel" class="input-group-addon" ng-click="clearInput()"><span class="glyphicon glyphicon-remove"></span></span>
    </div>
</div>
<div class="col-sm-5 col-sm-offset-4">
    <i class="fas fa-user"></i>
    <span id="user">Peter Hoang</span>
</div>